.margin-bottom {
  margin-bottom: 16px;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

.mat-radio-group {
  display: flex;

  .mat-radio-button {
    flex: 1;
  }
}

.scroll {
  display: block;
  height: 85vh;
  overflow-y: auto;
}

.margin-right {
  margin-right: .5vw;
}